
@{
    /**/

    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    body {
        height: 800px;
        background-image: url("../Img/ALPA.png");       
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
</style>*@

<div class="container">
    <img src="~/Img/ALPA.png" style="width:75%" class="mx-auto d-block" />
</div>